useDynLib(FLOWMR, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export(BayesMediation)
export(gibbs_sampler)
export(gibbs_sampler_with_corr)
export(gibbs_wrapper)
export(indirect_effect)
export(summary_gibbs)
export(total_effect)
export(traceplot)
export(zero.centered.em)
export(get_posterior_samples)
export(get_indirect_samples)
export(get_total_samples)
import(coda)
import(doParallel)
import(foreach)
import(ggplot2)
import(stats)
import(magic)
